


.navbar{
    height: 50px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.search{
    position: relative;
}

.search>i{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.search>input{
    width: 500px;
    height: 35px;
    border-radius: 1rem;
}

.auth>a{
    padding-right: 10px;
    text-decoration: none;
}

.wrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    color: white;
}

.wrapper>a{
    text-decoration: none;
    color: black;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.img{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.title{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

.course-title{
    position: absolute;
    bottom: 0;
    padding: 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrapper:hover{
    transform: scale(1.05);
}

.wrapper img{
    width: 100%;
}


.footer{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.btn-outline-primary{
    width: 200px;
    margin: 0 auto;
}



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}