.search{
    position: relative;
}

.search>i{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.search>input{
    width: 500px;
    height: 35px;
    border-radius: 1rem;
}



body {
    background: rgb(255, 254, 254);
    color: rgb(8, 7, 7);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.course-item{
    box-shadow: 0px 2px 5px #aaaaaa;
    border: 1px solid #BFBFBF;

}
.search-box{
    box-shadow: 0px 2px 5px #aaaaaa;
    border: 1px solid #BFBFBF;


}

.header{
    box-shadow: 0px 2px 5px #aaaaaa;
}

.wrap-course-item h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}





.sticky{
    position: sticky; 
    top: 50px;
    height: fit-content;
}
.course-thumb img{
    border: solid chartreuse 1px;
}
.img-fluid{
    width: 100%;
    height: auto;
}

a {
    color: rgb(9, 8, 8);
    text-decoration: none;
}

.center { text-align: center; }

.container {
    width: 95%;
    max-width: 1220px;
    margin: 0 auto;
}

.jc-r{
    justify-content: right;
}

.pdl-15{
    padding-left: 15px;
}

.footer{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    font-size: 22px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #ee3e0f;
    color: black;
}
.pagination a:hover:not(.active) {
    background-color: #ee3e0f;
} 


.btn-outline-primary{
    padding: 0px;
}

.paginatedly{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taglineSbject{
overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}