/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2022, 11:23:11 AM
    Author     : Viet Dung
*/

.navbar {
    height: 50px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.brand{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.search {
    position: relative;
}

.search>i {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.search>input {
    width: 500px;
    height: 35px;
    border-radius: 1rem;
}

.auth>input {
    border: none;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

#nav-login {
    background-color: #04AA6D;
    color: #ffffff;
}

.modal-header .btn-close{
    margin-right: 5px;
}



.footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.dropbtn {
    background-color: #04AA6D;
    color: black;
    font-size: 25px;
    /* font-size: 16px; */
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.auth {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.auth:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.auth:hover .dropbtn {
    background-color: #3e8e41;
}


/* Css for modal */

.modal-header {
    padding: 0;
}

.modal-header .close {
    padding: 10px 15px;
}

.modal-header ul {
    border: none;
}

.modal-header ul li {
    margin: 0;
}

.modal-header ul li a {
    border: none;
    border-radius: 0;
}

.modal-header ul li.active a {
    color: #e12f27;
}

.modal-header ul li a:hover {
    border: none;
}

.modal-header ul li a span {
    margin-left: 10px;
}

.modal-body .form-group {
    margin-bottom: 10px;
}

.alert{
    display: none;
}