<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table.info td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table class="info">
        <tr><h3>information of account</h3></tr>
        <tr>
            <td>Id</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>Nguyen Quang Hai</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>abc@gmail.com</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>12345</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>male</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>active</td>
        </tr>
        <tr>
            <td>Course Content</td>
            <td><input type="checkbox"></td>
        </tr>
    </table>
</body>
</html>